@base-color: rgb(255, 239, 213);
@main-color: rgb(139, 69, 19);
@accent-color: rgb(255, 0, 100);

@sub-background: rgb(238, 232, 170);

@error-color: rgb(0, 0, 0);
@error-background: rgb(255, 200, 200);

@link-in-nav: rgb(200, 200, 255);

@cell-background: rgb(255, 255, 255);
