@import "common-const.less";

@article-gradient-top: rgb(200, 255, 200);
@article-gradient-bottom: rgb(180,220,180);

article {
    border: solid 1px rgb(100, 100, 100);
    border-radius: 6px;

    margin-top: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding: 0.5em;

/* for gradient */
    background: rgb(246,230,180); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(246,230,180,1) 0%, rgba(237,144,23,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,230,180,1)), color-stop(100%,rgba(237,144,23,1))); /* Chrome,Safari4+ */
    background: -o-linear-gradient(top, rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=0 ); /* IE6-9 */

    background: -webkit-linear-gradient(top, @article-gradient-top 0%, @article-gradient-bottom 100%); /* Chrome10+,Safari5.1+ */

    box-shadow: rgba(0,0,0,.3) 1px 1px;

    > h3 > a, > h3 > a:visited {
        color: @main-color;
        text-decoration: none;
    }

    > h3 > a:hover {
        text-decoration: underline;
    }
}

div.goEditContainer {
    margin-bottom: 0.5em;
}

div.pagerContainer {
    text-align: right;
    border-radius: 4px;
    margin: 0;
    padding: 0;
}

div.pagerContainer span, div.entriesPager a, div.entriesPager em {
    font-size: large;
	margin: 0.1em;
}

div.entriesPager {
	margin-left: 1em;
    display: inline;
}
