@import "common-const.less";

body {
    margin: 0.3em;
    padding: 0;
    color: @main-color;
    background: @base-color;
    text-shadow: rgba(0,0,0,.3) 1px 1px;
}

h1, h2, h3, h4, h5, h6  {
    color: @main-color;
    text-shadow: rgba(0,0,0,.3) 1px 1px;
}

textarea {
	width: 90%;
	height: 25em;
    border-radius: 5px;
}

input[type='text'] {
    border-radius: 5px;
}

.header-footer () {
    height: 2em;
    background: @main-color;
}

header {
	.header-footer();
}

footer {
	.header-footer();
	margin-top: 0.3em;
}

div {
	.mainBox {
    	text-align: center;
    }
}

span.required:after {
	content: '(*)';
	color: red;
}

input.error, textarea.error {
	color: @error-color;
	background: @error-background;
}

fieldset {
	border: none;
}

nav {
    background: @main-color;
    padding-top: 0.05em;
    li {
       display: inline-block;
       margin-right: 1em;
       a {
           color: @link-in-nav;
       }
       .icon-exit {
           margin-left: 5em;
       }
    }
}
