@CHARSET "UTF-8";

article > span {
    padding: 0.2em;
    border: solid 1px #333333;
    border-radius: 4px;
    margin-right: 0.3em;
    background: #ffffff;
}

div.goEditContainer {
    margin-bottom: 0.5em;
}

.highlight .kd {
    color: #0000cc;
}

.highlight .nd {
    color: #888899;
}

.highlight .s {
    color: #009900;
}

.highlight .na {
    color: #009999;
}

.highlight .k {
    color: #993300;
}

.highlight .n {
    color: #999900;
}

.highlight .c1 {
    color: #0099cc;
}

