article {
  border: solid 1px #646464;
  border-radius: 6px;
  margin-top: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 0.5em;
  background: -webkit-linear-gradient(top, #c8ffc8 0%, #b4dcb4 100%);
  /* Chrome10+,Safari5.1+ */

  box-shadow: rgba(0, 0, 0, 0.3) 1px 1px;
}
article div.highlight {
  text-shadow: none;
}
article div.highlight pre {
  background: #000000;
}
article div.highlight pre span.kd {
  color: #007020;
  font-weight: bold;
}
article div.highlight pre span .kw {
  color: #007020;
  font-weight: bold;
}
article div.highlight pre span .nt {
  color: #007020;
  font-weight: bold;
}
article div.highlight pre span .dt {
  color: #902000;
}
article div.highlight pre span .dv {
  color: #40a070;
}
article div.highlight pre span .bn {
  color: #40a070;
}
article div.highlight pre span .fl {
  color: #40a070;
}
article div.highlight pre span .ch {
  color: #4070a0;
}
article div.highlight pre span .st {
  color: #4070a0;
}
article div.highlight pre span .co {
  color: #60a0b0;
  font-style: italic;
}
article div.highlight pre span .ot {
  color: #007020;
}
article div.highlight pre span .al {
  color: #ff0000;
  font-weight: bold;
}
article div.highlight pre span .fu {
  color: #06287e;
}
article div.highlight pre span .er {
  color: #ff0000;
  font-weight: bold;
}
